:root{
    --mainColor : #333333 ;
    --secondaryColor : #4A4A4A;
    --elemenColor : #007A14;
    --acsentColor: #00B81E;
}

body{
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: 'ubuntu', sans-serif;
}

/* Nav Bar */
.nav-link.active{
    color: var(--acsentColor) !important;
    font-weight: 700;
}
.nav-dark{
    background-color: var(--secondaryColor) !important;
    z-index: 10;
    transition: 0.3s ease-in-out;
}
li{
    position: relative;
    display: inline-block;
    /* margin-right: 20px; */
}

li a{
    transition: color.1s;
}

li a::after{
    content: '';
    background-color: var(--acsentColor);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: width .3s;
}

li a:hover::after{
    width: 100%;
    background-color: var(--acsentColor);
}
/* end Nav Bar */

section h1{
    color: #fff;
    font-size: 2.5rem;
}

/* Hero */
.color-acsent{
    color: var(--acsentColor);
}

#Hero{
    color: #fff;
    min-height: 100vh;
    padding-top: 75px;
}

#Hero h1{
    font-size: 3rem;
}

#Hero h2{
    font-weight: 100;
}

#Hero p{
    font-size: 1.1rem;
    font-weight: 300;
}

/* CTA */
.btn-custom1{
    background-color: var(--elemenColor);
    text-align: center;
    color: #fff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-custom1 a {
    text-decoration: none;
    color: inherit;
}

.btn-custom1:hover{
    box-shadow: 0 0 5px rgb(66, 255, 41);
}

.cv {
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
}

.social-icon svg{
    fill: #fff;
    margin-right: 0.7rem;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icon svg:hover{
    transform: scale(1.2) rotate(7deg);
}
/* end Hero */

/* About */
hr {
    width: 35%;
    height: 5px;
    color: var(--acsentColor);
    margin: 0 auto;
    opacity: 100%;
}

#about{
    min-height: 300px;
    width: 100%;
    background-color: var(--secondaryColor);
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}
/* End About */

/* Skill */
#skill{
    min-height: 600px;
    width: 100%;
    color: #fff;
}

#skill img{
    /* width: 7%; */
    margin: 10px;
}

#skill .card{
    background-color: #636161;
    height: 350px;
}

#skill .card:hover{
    background-color: var(--elemenColor);
}

.skill-konten{
    margin-top: 120px;
}
/* End Skill */

/* Portofolio */
#portofolio {
    background-color: var(--secondaryColor);
}
/* End Portofolio */

/* Fotter */
#fotter p{
    color: #fff;
}
/* End Fotter */